@tailwind base;
@tailwind components;
@tailwind utilities;

.a4-page {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  background: white;
  overflow: hidden;
  position: relative;
}

.a4-page img, .conduct-certificate-page img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .a4-page {
    transform: scale(0.9);
    transform-origin: top left;
  }
}

@media screen and (max-width: 992px) {
  .a4-page {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 768px) {
  .a4-page {
    transform: scale(0.7);
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .a4-page, 
  .a4-page *,
  .conduct-certificate-page,
  .conduct-certificate-page * {
    visibility: visible;
  }
  .a4-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    height: 297mm;
  }  

  .conduct-certificate-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 220mm;
    height: 180mm;
  }
  .conduct-certificate-page img {
    max-width: 80%;
    height: auto;
  }
  .a4-page img {
    max-width: 100%;
    height: auto;
  }
}

@page {
  size: A4;
  margin: 0;
}

@keyframes dotAnimation {
  0%, 20% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.dots .dot {
  animation: dotAnimation 1.4s infinite;
  display: inline-block;
}

.dots .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dots .dot:nth-child(3) {
  animation-delay: 0.4s;
}


